@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@452&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default = LIGHT THEME */
:root {
  --primary-color: #ffffff;
  --secondary-color: #0A0A0C;
  --accent-color: #E63946;
  --accent-color-hover: #c62e3b;
  --bg-color: #ffffff;
  --second-bg-color: #f5f5f5;
  --border-color: #00000020;
  --text-color: #0A0A0C;
  --font-family: 'Poppins', sans-serif;
  --hero-font-family: "Bebas Neue", sans-serif;
  --hero-grid-color: rgba(241, 241, 241, 0.05);
  --hero-glow-color: rgba(230, 57, 70, 0.05);
  --side-padding: 2.5rem;
}

/* AUTO DARK MODE (system preference) */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #0A0A0C;
    --secondary-color: #ffffff;
    --bg-color: #111115;
    --second-bg-color: #23232D;
    --border-color: #ffffff41;
    --text-color: #ffffff;
      --hero-grid-color: rgba(240, 192, 196, 0.068);
    --hero-glow-color: rgba(96, 5, 13, 0.505);
  }
}

/* MANUAL DARK OVERRIDE */
.dark {
  --primary-color: #0A0A0C;
  --secondary-color: #ffffff;
  --bg-color: #111115;
  --second-bg-color: #23232D;
  --border-color: #ffffff41;
  --text-color: #ffffff;
  --btn-bg: #ffffff;
  --btn-text: #0A0A0C;
  /* --hero-grid-color: rgba(230, 57, 70, 0.08);
  --hero-glow-color: rgba(230, 57, 70, 0.1); */
      --hero-grid-color: rgba(240, 192, 196, 0.068);
    --hero-glow-color: rgba(96, 5, 13, 0.505);
}

/* MANUAL LIGHT OVERRIDE */
.light {
  --primary-color: #ffffff;
  --secondary-color: #0A0A0C;
  --bg-color: #ffffff;
  --second-bg-color: #f5f5f5;
  --border-color: #00000020;
  --text-color: #0A0A0C;
  --btn-bg: #23232D;
  --btn-text: #ffffff;
  --hero-grid-color: rgba(0, 0, 0, 0.05);
  --hero-glow-color: rgba(230, 57, 70, 0.05);
  --gallery-bg: #ffffff;
  --gallery-text: #000000;
  --modal-bg: rgba(255, 255, 255, 0.98);
  --card-shadow: rgba(0, 0, 0, 0.2);
}

/* BASE STYLES */
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}